$gray-3: #ebedf0;
$blue: #1989fa;
$padding-base: 4px;
$border-color: $gray-3;
$padding-sm: $padding-base * 3;
$swipe-indicator-size: 6px;
$swipe-indicator-margin: $padding-sm;
$swipe-indicator-active-opacity: 1;
$swipe-indicator-inactive-opacity: 0.3;
$swipe-indicator-active-background-color: $blue;
$swipe-indicator-inactive-background-color: $border-color;
$animation-duration-fast: 0.2s;

.customer-swipe {
  position: relative;
  overflow: hidden;
  cursor: grab;
  user-select: none;

  :global {
    .customer-swipe {
      &__track {
        display: flex;
        height: 100%;

        &--vertical {
          flex-direction: column;
        }
      }

      &__indicators {
        position: absolute;
        bottom: $swipe-indicator-margin;
        left: 50%;
        display: flex;
        transform: translateX(-50%);

        &--vertical {
          top: 50%;
          bottom: auto;
          left: $swipe-indicator-margin;
          flex-direction: column;
          transform: translateY(-50%);

          .van-swipe__indicator:not(:last-child) {
            margin-bottom: $swipe-indicator-size;
          }
        }
      }

      &__indicator {
        width: $swipe-indicator-size;
        height: $swipe-indicator-size;
        background-color: $swipe-indicator-inactive-background-color;
        border-radius: 100%;
        opacity: $swipe-indicator-inactive-opacity;
        transition: opacity $animation-duration-fast,
          background-color $animation-duration-fast;

        &:not(:last-child) {
          margin-right: $swipe-indicator-size;
        }

        &--active {
          background-color: $swipe-indicator-active-background-color;
          opacity: $swipe-indicator-active-opacity;
        }
      }
    }
  }
}

.customer-swipe-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  :global {
    .swipe-content {
      position: relative;
      width: 100%;
      height: 100%;
      .swipe-image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .swipe-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 44px;
        line-height: 44px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 0 16px;
      }
    }

  }
}
