.area {
  border: 1px solid #70c0ff;
  position: absolute;
}
.grid {
  position: absolute;
  top: 0;
  left: 0;
}
.editor {
  position: relative;
  background: #fff;
  margin: auto;

  .lock {
    opacity: .5;
  }
}
.edit {
  .component {
    outline: none;
    width: 100%;
    height: 100%;
  }
}
